<h1>HomeController#home</h1>
<p>Find me in app/views/home_controller/home.html.erb</p>
<form accept-charset="UTF-8" action="/send" method="post">
  <input name="from" type="text"/>
  <input name="to" type="text"/>
  <input name="subject" type="text"/>
  <input name="body" type="text"/>
  <input name="commit" type="submit" value="Search" />
</form>
